body {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.my-form {
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(#a10f22, #b66a30, #cd9e36, #f4f248);
  border-radius: 25px;
  margin-top: 70px;
  border: solid 3px whitesmoke;
}

p {
  font-size: large;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
label {
  font-size: large;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
audio {
  margin-top: 100px;
}
audio::-webkit-media-controls-panel {
  background-image: linear-gradient(#a10f22, #b66a30, #cd9e36, #f4f248);
}
img {
  margin-top: 55px;
}
.animation {
  animation: doc 1s ease 0s 1 normal forwards;
}
@keyframes doc {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 864px) {
  section {
    padding-inline: 5px;
  }
  img {
    width: 100%;
  }
}
